# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal
*.pyc
db.sqlite3.db
db.sqlite3.*

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython profile_default
profile_default/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
.sage2

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.local
.env.development.local
.env.test.local
.env.production.local

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, it is better to add it to your .gitignore and regenerate it 
#   before a push.
# Pipfile.lock

# virtualenv
virtualenv/
venv*/bin/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# VS Code settings
.vscode/
.history

# Compiled Cython files
*.pyd
*.pyo
*.pya

# Pytest cache
.pytest_cache/

# IDEs
.idea/
*.iml

# macOS
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp

# Other
*.bak
*.log
*.lock
*.pid
*.pyo
*.pyc

#data/raw
#data/outputs